# Comany Details
COMPANY_NAME=Shopify

# PostgreSQL Database Configuration
DB_USER=user
DB_PASSWORD=password

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Configuration
JWT_SECRET=jwt_secret

# Application Configuration
APP_ENV=local
APP_PORT=8080

# Logging Configuration
LOG_LEVEL=debug

# Email Configuration (if required for notifications)
EMAIL_USER=abc@gmail.com
EMAIL_PASSWORD=password
EMAIL_FROM=abc@gmail.com
